<!DOCTYPE html>
<html lang="en">
<head>
    <script src="vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
</head>
<body>
    <div id="vue">
        <h3>TASKS</h3>
        <ol>
            <li v-for="(todo,index) in todos">
              {{ todo.data }}
              <button type="button" @click="editPressed(index)">EDIT</button>
              <button type="button" @click="deleteTask(index)">DELETE</button>
            </li>
        </ol>
        <input v-model="curAdd" placeholder="WHAT TO ADD?">
        <button type="button" @click="addTask">ADD</button>
        <br><br>
        <input v-if="!isEditHidden" v-model="curEdit" v-on:keyup.enter="editTask" placeholder="WHAT TO EDIT?">
    </div>
    <script src="app.js"></script>
</body>
</html>